{#
 # Commercial Supporters template
 # ---------------
 #
 # When this template gets loaded, it will be because someone has accessed
 # http://yoursite.com/ (without any URI). Craft checks to see if you have
 # a Single section set to be the Homepage (as you do, by default), and
 # loads the section’s Template (this file). A special ‘entry’ variable
 # will already be set for you, assigned to the Homepage entry.
 #
 # It's worth noting that even if you didn't have a Homepage Single section,
 # as long as this template remains at craft/templates/index.html, it
 # would still be the one to get loaded when accessing http://yoursite.com/,
 # albeit without an ‘entry’ variable already set for you.
 #
 # See this page for more details on how Craft routes requests:
 # http://craftcms.com/docs/routing
 #}

{% extends "_layout.html" %}

{% block pageTitle %}Commercial Supporters{% endblock %}

{% block main %}

    <header id="header">
        <div class="container-fluid comm-supporters-header text-light reformat-header">
            <div class="row fixrow pc-adjuster">
                <div class="col fixcol">
                    <div class="container py-md-6 py-5 py-lg-8 shorten-banners">
                        <h1 class="display-4 text-uppercase">Commercial Supporters</h1>
                        <p class="lead pb-2 pr-md-10">{{entry.commercialSupportersBannerBodyCopy}}</p>
                        <a class="btn btn-sm btn-primary" href="/support">Support VIVA</a>
                    </div>
                </div>
            </div>
        </div>
    </header>


    <section id="list">
        <div class="container matchwidth">

            <div class="row">
                <div class="col pb-5 pt-50">
                    <!--<div class="table-responsive pl-4 bg-white border border-danger drop-shadow">
                        <p style="margin-top:1rem;">
                            Coming soon!
                        </p>
                    </div>-->


                    <nav>
                        <div class="nav text-uppercase" id="nav-tab" role="tablist">
                            <a class="nav-item active mr-4" id="nav-viva18-tab" data-toggle="tab" href="#nav-viva18" role="tab" aria-controls="nav-viva18" aria-selected="true">VIVA 2018</a>
                            <!--<a class="nav-item" id="nav-viens-tab" data-toggle="tab" href="#nav-viens" role="tab" aria-controls="nav-viens" aria-selected="false">The Viens at VIVA</a>-->
                        </div>
                    </nav>

                </div>
            </div>


            <div class="row pb-6">
                <div class="col">

                    <div class="tab-content" id="nav-tabContent">

                        <div class="tab-pane fade show active" id="nav-viva18" role="tabpanel" aria-labelledby="nav-viva18-tab">
                            <div class="table-responsive pl-4 bg-white border border-danger drop-shadow">
                                <table class="table m-0 font-sm text-uppercase text-mute less-margin mb-40">
                                    <tbody>
                                        <tr class="pl-4">
                                            <ul id="viva-list-sup" class="list-unstyled">

                                            </ul>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                    <!--<div class="tab-pane fade" id="nav-viens" role="tabpanel" aria-labelledby="nav-viens-tab">
                            <div class="table-responsive pl-4 bg-white border border-danger drop-shadow">
                                <table class="table m-0 font-sm text-uppercase text-mute less-margin mb-40">
                                    <tbody>
                                        <tr class="pl-4">
                                            <ul id="veins-list-sup" class="list-unstyled">

                                            </ul>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>-->

                    </div>

                </div>
            </div>



        </div>
    </section>



    <script type ="text/javascript">
        loadDoc('https://industry18.vivapvd.com/WebService.asmx/GetVivaSupporters?id=All', myFunction1);

            function loadDoc(url, cFunction) {
                var xhttp;
                xhttp = new XMLHttpRequest();
                xhttp.onreadystatechange = function() {
                if (this.readyState == 4 && this.status == 200) {
                    cFunction(this);
                }
                };
                xhttp.open("GET", url, true);
                xhttp.send();
            }

            function myFunction1(xhttp) {
                var response = JSON.parse(xhttp.responseText);
                var data = response;
                var text = "";
                console.log(data);
                for (var i = 0; i < data.length; i++) {
                    text += "<h3>" + data[i].SupportLevel + "</h3>";
                    for ( var j = 0; j < data[i].SupporterList.length; j++) {
                    text += "<p>" + data[i].SupporterList[j] + "</p>";
                    };

                }
                document.getElementById('viva-list-sup').innerHTML = text
            }

    </script>

    <script type ="text/javascript">
        loadDoc('http://rest.vivapvd.com/SupportersVeins/', myFunction1);

            function loadDoc(url, cFunction) {
                var xhttp;
                xhttp = new XMLHttpRequest();
                xhttp.onreadystatechange = function() {
                if (this.readyState == 4 && this.status == 200) {
                    cFunction(this);
                }
                };
                xhttp.open("GET", url, true);
                xhttp.send();
            }

            function myFunction1(xhttp) {
                var response = JSON.parse(xhttp.responseText);
                var data = response;
                var text = "";
                console.log(data);
                for (var i = 0; i < data.length; i++) {
                    text += "<h3>" + data[i].Level + "</h3>";
                    for ( var j = 0; j < data[i].CompanyList.length; j++) {
                    text += "<p>" + data[i].CompanyList[j] + "</p>";
                    };

                }
                document.getElementById('veins-list-sup').innerHTML = text
            }

    </script>



 {% endblock %}
