{#
 # Privacy template
 # ---------------
 #
 # When this template gets loaded, it will be because someone has accessed
 # http://yoursite.com/ (without any URI). Craft checks to see if you have
 # a Single section set to be the Homepage (as you do, by default), and
 # loads the section’s Template (this file). A special ‘entry’ variable
 # will already be set for you, assigned to the Homepage entry.
 #
 # It's worth noting that even if you didn't have a Homepage Single section,
 # as long as this template remains at craft/templates/index.html, it
 # would still be the one to get loaded when accessing http://yoursite.com/,
 # albeit without an ‘entry’ variable already set for you.
 #
 # See this page for more details on how Craft routes requests:
 # http://craftcms.com/docs/routing
 #}

{% extends "_layout.html" %}

{% block pageTitle %}Privacy Policy{% endblock %}

{% block main %}


    <header id="header">
        <div class="container-fluid privacy-header text-light reformat-header">
            <div class="row fixrow pc-adjuster">
                <div class="col fixcol">
                    <div class="container py-md-6 py-5 py-lg-8 shorten-banners">
                        <h1 class="display-4 text-uppercase">Privacy Policy</h1>
                        <p class="lead">{{entry.privacyPolicyBannerBodyCopy}}</p>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <section id="main">
        <div class="container centered matchwidth">
            <div class="row my-6">
                <div class="col muted-paragraph">
                    <h2>This Privacy Policy explains many of the data collection and use practices of VIVA’s Services (the “Services”).</h2>

                    {{entry.privacyPolicyBody}}
                </div>
            </div>
        </div>
    </section>



   


 {% endblock %}
 
 