{#
 # VIVA App template
 # ---------------
 #
 # When this template gets loaded, it will be because someone has accessed
 # http://yoursite.com/ (without any URI). Craft checks to see if you have
 # a Single section set to be the Homepage (as you do, by default), and
 # loads the section’s Template (this file). A special ‘entry’ variable
 # will already be set for you, assigned to the Homepage entry.
 #
 # It's worth noting that even if you didn't have a Homepage Single section,
 # as long as this template remains at craft/templates/index.html, it
 # would still be the one to get loaded when accessing http://yoursite.com/,
 # albeit without an ‘entry’ variable already set for you.
 #
 # See this page for more details on how Craft routes requests:
 # http://craftcms.com/docs/routing
 #}

{% extends "_layout.html" %}

{% block pageTitle %}VIVA App{% endblock %}

{% block main %}

    <header id="header">
        <div class="container-fluid app-header text-light reformat-header">
            <div class="row fixrow pc-adjuster">
                <div class="col fixcol">
                    <div class="container py-md-6 py-5 py-lg-8 shorten-banners">
                        <h1 class="display-4 text-uppercase">Virtual VIVA App</h1>
                        <p class="lead mr-md-10">{{entry.virtualVivaBannerBodyCopy}}</p>
                        <a class="btn btn-sm btn-primary" href="http://www.virtualviva.org/#/app/login">Log In</a>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <section id="intro">
        <div class="container-fluid">
            <div class="container matchwidth">
                <div class="row pb-5">
                    <div class="col-md-4 program-image pt-6">
                        <img class="img-fluid" src="/images/viva-app-intro.jpg"/>
                    </div>
                    <div class="col-md-8 pt-6 pl-md-5">
                        <h2>
                            VIVA Education From Your Device
                        </h2>
                        <p>
                            {{entry.vivaEducationBodyCopy}}
                        </p>
                    </div>
                </div>
            </div>

            <div class="row py-5 bg-half-gray">
                <div class="col">
                    <div class="container">
                    <h2 class="pb-2">Welcome to Virtual VIVA</h2>
                        <div class="container embed-responsive embed-responsive-16by9">
                            <div id="player"></div>
                            <div id="play-button-overlay" class="embed-responsive-item viva-app-image-overlay">
                                <span class="helper"></span>
                                <img src="images/viva_playbutton.png">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="features" class="bg-gray">
        <div class="container pb-5">
            <div class="row py-5">
                <div class="col">
                    <h2 class="text-center">Features</h2>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-6 col-12 my-md-5 my-2">
                    <div class="container-f m-md-auto recenter-pill">
                        <div class="circle0">
                        <div class="text-wrapper">
                            <p> Plan by creating a favorites list of presentations you don’t want to miss</p>
                        </div>
                    </div>
                    <div class="circle1 d-flex align-items-center justify-content-center"><img class="img-fluid p-40" src="/images/plan-icon.png" style="height:100% !important;"></div>
                    </div>
                    <h2 class="text-uppercase text-center mt-4 font-lg">Plan</h2>
                </div>
                <div class="col-lg-6 col-12 my-5">
                    <div class="container-f m-md-auto recenter-pill">
                        <div class="circle0">
                        <div class="text-wrapper">
                            <p>Presentations are shown during and after the meeting for reference</p>
                        </div>
                    </div>
                    <div class="circle1 d-flex align-items-center justify-content-center"><img class="img-fluid p-40" src="/images/reference-icon.png" style="height:100% !important;"></div>
                    </div>
                    <h2 class="text-uppercase text-center mt-4 font-lg">Reference</h2>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-6 col-12 my-5">
                    <div class="container-f m-md-auto recenter-pill">
                        <div class="circle0" style="padding-top:10px;">
                        <div class="text-wrapper">
                            <p>Watch various sessions and live cases in real-time</p>
                        </div>
                    </div>
                    <div class="circle1 d-flex align-items-center justify-content-center"><img class="img-fluid p-40" src="/images/watch-icon.png" style="height:100% !important;"></div>
                    </div>
                    <h2 class="text-uppercase text-center mt-4 font-lg">Watch</h2>
                </div>
                <div class="col-lg-6 col-12 my-5">
                    <div class="container-f m-md-auto recenter-pill">
                        <div class="circle0" style="padding-top:10px;">
                        <div class="text-wrapper">
                            <p>Navigate using the interactive conference map</p>
                        </div>
                    </div>
                    <div class="circle1 d-flex align-items-center justify-content-center"><img class="img-fluid p-40" src="/images/navigate-icon.png" style="height:100% !important;"></div>
                    </div>
                    <h2 class="text-uppercase text-center mt-4 font-lg">Navigate</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-12 my-5">
                    <div class="container-f m-md-auto recenter-pill">
                        <div class="circle0">
                        <div class="text-wrapper">
                            <p>Interact with faculty through Q&A function during the meeting</p>
                        </div>
                    </div>
                    <div class="circle1 d-flex align-items-center justify-content-center"><img class="img-fluid p-40" src="/images/interact-icon.png" style="height:100% !important;"></div>
                    </div>
                    <h2 class="text-uppercase text-center mt-4 font-lg">Interact</h2>
                </div>
                <div class="col-lg-6 col-12 my-5">
                    <div class="container-f m-md-auto recenter-pill">
                        <div class="circle0">
                        <div class="text-wrapper">
                            <p>Access the Device Library, Buyers Guide, eBags, and much more!</p>
                        </div>
                    </div>
                    <div class="circle1 d-flex align-items-center justify-content-center"><img class="img-fluid p-40" src="/images/access-icon.png" style="height:100% !important;"></div>
                    </div>
                    <h2 class="text-uppercase text-center mt-4 font-lg">Access</h2>
                </div>
            </div>


        </div>
    </section>

    <section id="register">
        <div class="container">
            <div class="row">
                <div class="col-md-6 pr-md-0 pt-5">
                    <img class="img-fluid w-75" src="/images/register-steps.jpg" style="display: block;margin: auto;"/>
                </div>
                <div class="col-md-6 pl-md-5 pt-5 pb-5 numberedList">
                    <h2>Register</h2>
                    {{entry.registerBody}}
                    <a target="_blank" href="{{entry.logInLink}}" class="angle-link">Log In</a>
                </div>
            </div>
        </div>
    </section>

    <section id="past-course" class="bg-gray">
        <div class="container">
            <div class="row py-6">
                <div class="col">
                    <h2>Interested in Purchasing Past Course Content?</h2>
                    <p>{{entry.interestedInPurchasingPastCourseContentBodyCopy}}</p>
                    <a href="/purchase-content" class="angle-link">Purchase Past Content</a>
                </div>
            </div>
        </div>
    </section>


 {% endblock %}
